<div class="container">
  <h1>Lists of moovies</h1>

<div class="row">

    <% @lists.each do |list| %>
    <div class="card m-5 col-4" style="width: 18rem;">
      <%= cl_image_tag list.photo.key, crop: :fill, height: 150, width: 200, class:"card-img-top" %>
      <div class="card-body">
        <h2 class="card-title"> <%= link_to list.name, list_path(list) %></h2>
        <%= link_to 'Delete',
                    list_path(list),
                      data: {
                        turbo_method: :delete,
                        turbo_confirm: 'Are you sure ?'
                      } %>
      </div>
      </div>
       <% end %>

</div>
    <br>
  <%= link_to 'Add a new list', new_list_path %>
</div>
